$primary-font-color: rgb(5, 192, 89);
$hader-color: rgb(250, 250, 250);
$body-color: rgb(255, 254, 254);
$button-primary-color: #fff;
$button-hover-color: rgb(44, 189, 109);
$button-delete-color: rgb(255, 43, 43);
$button-delete-hover-color: rgb(187, 15, 15);
