main {

  #dashboard{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;

    h2 {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    #box {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 50%;
      border: 1px solid #ddd;
      box-shadow: 0px 1px 3px 0px #ddd;
      border-radius: 5px;
      padding: 1rem 2rem;
      margin-bottom: 2rem;

      #campos {
        display: flex;
        align-items: center;
      }
    }

    p {
      margin-right: 0.8rem;
    }

    .inputTime {
      display: flex;
      align-items: center;
      margin-right: 1.4rem;

      input {
        width: 50px;
        height: 35px;
        margin-right: 0.4rem;
      }
    }

    .inputSelect {
      display: flex;
      align-items: center;
      margin-right: 1.4rem;

      .select {
        width: 200px;
        margin-right: 0.4rem;
      }
    }

    .inputDate {
      display: flex;
      align-items: center;
      margin-right: 1.4rem;

      .datePicker {
        width: 100px;
        height: 35px;
        margin-right: 0.4rem;
      }
    }

    .button {
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 5px;
      padding: 0.4rem 1.4rem;
      font-size: 18px;
      color: $button-primary-color;
      background-color: $primary-font-color;

      &:hover {
        background-color: darken($button-hover-color, 3);
        cursor: pointer;
      }
    }

    .lista {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;

      border: 1px solid #ddd;
      box-shadow: 0px 3px 5px 0px #ddd;
      border-radius: 5px;
      margin: 1rem;
      width: auto;
      min-width: 50%;
      padding: 0 2rem;

      .componente {
        display: flex;
        flex-direction: row;

        p {
          margin-right: 0.4rem;
        }

        div {
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 5px;
          padding: 0.4rem 1.4rem;
          font-size: 14px;
          color: $button-primary-color;
          background-color: $button-delete-color;

          &:hover {
            background-color: darken($button-delete-color, 6);
            cursor: pointer;
          }
        }
      }
    }
  }
}
