main {
  #grafico {
    width: auto;
    height: 100%;
    padding: 1.2rem 2.4rem;

    #graficoTexto{
      margin-bottom: 2.4rem;
      margin-top: 2.4rem;
      display: flex;
      justify-content: center;
    }
  }
}
