#container{
  header {
    background-color: $hader-color;
    color: $primary-font-color;
    font-size: 20px;
    margin-top: 1.8rem;
    padding: 0 1.2rem;
    border: 1px solid #ddd;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    -webkit-font-smoothing: antialiased;

    position: sticky;
    top: 1.8rem;
    z-index: 1;
    width: auto;

    img {
      width: 60px;
      height: 60px;
      margin-right: 2rem;
    }

    #header{
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;

      .logo {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding-left: 3rem;
      }

      .menu {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

        p {
          color: #777;
          font-size: 22px;
          padding-left: 3rem;

          &:last-child {
            padding-right: 3rem;
          }

          &:hover{
            color: #000;
            cursor: pointer;
          }
        }
      }
    }
  }
}
