#container-signIn{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-content: center;
  height: 100vh;
  font-family: 'Raleway', sans-serif;

  #signin-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0.4rem;

    img {
      margin-left: 2rem;
      width: 160px;
      height: 160px;
      margin-right: 2rem;
    }

    h1 {
      color: $primary-font-color;
      font-family: 'Raleway', sans-serif;
      font-size: 60px;
    }
  }

  p {
    font-size: 18px;
    color: #000;
    margin: 1.4rem 0.4rem;
  }

  #form-container {
    padding: 0.8em 7.4em;
    font-size: 16px;

    #form {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      a {
        text-decoration:none;
      }

      p {
        font-size: 14px;
        margin: 0;
        color: #333;

        &:hover {
          color: #777;
          cursor: pointer;
          font-weight: bold;
        }
      }

      span {
        margin-top: -10px;
        font-size: 13px;
        color: rgb(233, 45, 45);
      }

      #inputFake {
        display: none;
      }

      input:-webkit-autofill {
        -webkit-box-shadow: 0 0 0 1000px white inset !important;
      }

      input {
        background: #fff;
        border-radius: 2px;
        border: 2px solid #000;
        padding: 0.8rem;
        margin: 0.8em;
        color: #333;
        width: 70%;
      } ::placeholder { color: #111; opacity: 0.7;}

      #divButton {
        background: rgb(26, 185, 98);
        border-radius: 2px;
        border: 0;
        padding: 0.8rem 2.4rem;
        margin: 0.8em;
        color: #fff;
        font-size: 16px;
        font-weight: bold;

        &:hover{
          cursor: pointer;
          background: darken(rgb(26, 185, 98), 5);
          color: #fff;
        }
      }
    }
  }
}
