#container header {
  background-color: #fafafa;
  color: #05c059;
  font-size: 20px;
  margin-top: 1.8rem;
  padding: 0 1.2rem;
  border: 1px solid #ddd;
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  -webkit-font-smoothing: antialiased;
  position: -webkit-sticky;
  position: sticky;
  top: 1.8rem;
  z-index: 1;
  width: auto;
}

#container header img {
  width: 60px;
  height: 60px;
  margin-right: 2rem;
}

#container header #header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#container header #header .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 3rem;
}

#container header #header .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#container header #header .menu p {
  color: #777;
  font-size: 22px;
  padding-left: 3rem;
}

#container header #header .menu p:last-child {
  padding-right: 3rem;
}

#container header #header .menu p:hover {
  color: #000;
  cursor: pointer;
}

body {
  background-color: #fffefe;
  margin: 0;
}

main #dashboard {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100vw;
}

main #dashboard h2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main #dashboard #box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 50%;
  border: 1px solid #ddd;
  -webkit-box-shadow: 0px 1px 3px 0px #ddd;
          box-shadow: 0px 1px 3px 0px #ddd;
  border-radius: 5px;
  padding: 1rem 2rem;
  margin-bottom: 2rem;
}

main #dashboard #box #campos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main #dashboard p {
  margin-right: 0.8rem;
}

main #dashboard .inputTime {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 1.4rem;
}

main #dashboard .inputTime input {
  width: 50px;
  height: 35px;
  margin-right: 0.4rem;
}

main #dashboard .inputSelect {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 1.4rem;
}

main #dashboard .inputSelect .select {
  width: 200px;
  margin-right: 0.4rem;
}

main #dashboard .inputDate {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 1.4rem;
}

main #dashboard .inputDate .datePicker {
  width: 100px;
  height: 35px;
  margin-right: 0.4rem;
}

main #dashboard .button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 5px;
  padding: 0.4rem 1.4rem;
  font-size: 18px;
  color: #fff;
  background-color: #05c059;
}

main #dashboard .button:hover {
  background-color: #29b166;
  cursor: pointer;
}

main #dashboard .lista {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #ddd;
  -webkit-box-shadow: 0px 3px 5px 0px #ddd;
          box-shadow: 0px 3px 5px 0px #ddd;
  border-radius: 5px;
  margin: 1rem;
  width: auto;
  min-width: 50%;
  padding: 0 2rem;
}

main #dashboard .lista .componente {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

main #dashboard .lista .componente p {
  margin-right: 0.4rem;
}

main #dashboard .lista .componente div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 5px;
  padding: 0.4rem 1.4rem;
  font-size: 14px;
  color: #fff;
  background-color: #ff2b2b;
}

main #dashboard .lista .componente div:hover {
  background-color: #ff0c0c;
  cursor: pointer;
}

#container-signIn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  height: 100vh;
  font-family: 'Raleway', sans-serif;
}

#container-signIn #signin-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.4rem;
}

#container-signIn #signin-header img {
  margin-left: 2rem;
  width: 160px;
  height: 160px;
  margin-right: 2rem;
}

#container-signIn #signin-header h1 {
  color: #05c059;
  font-family: 'Raleway', sans-serif;
  font-size: 60px;
}

#container-signIn p {
  font-size: 18px;
  color: #000;
  margin: 1.4rem 0.4rem;
}

#container-signIn #form-container {
  padding: 0.8em 7.4em;
  font-size: 16px;
}

#container-signIn #form-container #form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#container-signIn #form-container #form a {
  text-decoration: none;
}

#container-signIn #form-container #form p {
  font-size: 14px;
  margin: 0;
  color: #333;
}

#container-signIn #form-container #form p:hover {
  color: #777;
  cursor: pointer;
  font-weight: bold;
}

#container-signIn #form-container #form span {
  margin-top: -10px;
  font-size: 13px;
  color: #e92d2d;
}

#container-signIn #form-container #form #inputFake {
  display: none;
}

#container-signIn #form-container #form input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px white inset !important;
}

#container-signIn #form-container #form input {
  background: #fff;
  border-radius: 2px;
  border: 2px solid #000;
  padding: 0.8rem;
  margin: 0.8em;
  color: #333;
  width: 70%;
}

#container-signIn #form-container #form ::-webkit-input-placeholder {
  color: #111;
  opacity: 0.7;
}

#container-signIn #form-container #form :-ms-input-placeholder {
  color: #111;
  opacity: 0.7;
}

#container-signIn #form-container #form ::-ms-input-placeholder {
  color: #111;
  opacity: 0.7;
}

#container-signIn #form-container #form ::placeholder {
  color: #111;
  opacity: 0.7;
}

#container-signIn #form-container #form .divButton {
  background: #1ab962;
  border-radius: 2px;
  border: 0;
  padding: 0.8rem 2.4rem;
  margin: 0.8em;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
}

#container-signIn #form-container #form .divButton:hover {
  cursor: pointer;
  background: #17a356;
  color: #fff;
}

main #grafico {
  width: auto;
  height: 100%;
  padding: 1.2rem 2.4rem;
}

main #grafico #graficoTexto {
  margin-bottom: 2.4rem;
  margin-top: 2.4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body, input {
  color: #444444;
}

main, body, input, select {
  font-family: 'Raleway Medium 500', sans-serif;
  -webkit-font-smoothing: antialiased;
}
/*# sourceMappingURL=base.css.map */