@import 'colors';
@import 'header';
@import 'body';
@import 'dashboard';
@import 'signin';
@import 'grafico';


body, input {
  color: rgb(68, 68, 68);
}

main, body, input, select {
  font-family: 'Raleway Medium 500', sans-serif;
  -webkit-font-smoothing: antialiased;
}
